@if (isAddingItem) {
  <app-add-cart [product]="product!" (cancel)="onCancelAddItem()"/>
}

<main>
  <section id="voorkant">
    <img src="{{product?.image}}">
  </section>

  <article class="info_container">
    <section id = "primaire_info">
      <h1>{{product?.name}}</h1>
      <p>{{ 'schrijver' | translate }} {{product?.writer?.name}} {{product?.writer?.middleName}} {{product?.writer?.surname}}</p>
      <p>{{ 'soort:' | translate }} {{ 'soort.' + product?.type | translate }} <i>{{product?.cover}}</i></p>
      <p>{{ 'taal:' | translate }} {{ 'taal.' + product?.language | translate }}</p>
      <p>{{ 'hoeveelheid.bladzijdes.1' | translate }} {{product?.pages}} {{ 'hoeveelheid.bladzijdes.2' | translate }}</p>
      <h2>{{ 'prijs' | translate }} €{{product?.price}}</h2>
      <button (click)="onStartAddItem()">{{ 'winkelwagen.toevoegen' | translate }}</button>
    </section>

    <section id = "secundaire_info">
      <h3>{{ 'samenvatting' | translate }}    <i>{{ 'alleen.in.nederlands' | translate }}</i></h3>
      <p>Genre:
        <span *ngFor="let genre of product?.genreList; let last = last">
          <i>{{ genre.name }}</i>
          <span *ngIf="!last">, </span>
        </span>
      </p>
      <p>{{product?.summary}}</p>
    </section>

    <section id="extra_info">
      <p>{{ 'uitgever' | translate }} {{product?.publisher?.publisherName}}</p>
      <img src="{{product?.publisher?.image}}" alt="{{ 'logo.uitgever' | translate }} {{product?.publisher?.publisherName}}">
    </section>
  </article>
</main>


