main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding: 12px 15px;
  }

  .filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .filter-item {
      margin: 10px 0;


      button {
        min-width: 15rem;
        background-color: #F9E4E1;
        color: black;
        border: none;
        border-radius: 5px;
        padding: 12px 15px;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          background-color: #F9E4E1;

        }
      }
    }
  }
}
