:host {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

app-header {
  flex-shrink: 0;
}

router-outlet + * {
  flex: 1;
  min-height: 81svh;
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}