<main>
  @if(difficulty){
    <h1>{{ 'difficulty.list.selected.filter' | translate }} {{ 'difficulty.list.item.' + difficulty.difficulty | translate }}</h1>
    <button id="filter" [routerLink]="['/difficulty']">{{ 'product.list.back.button' | translate }}</button>
    <ul>
      @for (product of paginatedProducts ; track product.productID){
        <app-product-difficulty-item [product]="product" />
      }
    </ul>

    <section class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">{{ 'product.list.prev.button' | translate }}</button>
      <span>{{ 'product.list.page' | translate }} {{ currentPage }} {{ 'product.list.of' | translate }} {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">{{ 'product.list.next.button' | translate }}</button>
    </section>
  }
</main>
