<main>
  <article>
    <section>
      <h1>
        {{ 'order.pay' | translate }}
      </h1>
      <p> {{ 'order.must.pay.part.1' | translate }} €{{ getTotalPrice() }} {{ 'order.must.pay.part.2' | translate }}</p>
    </section>

    <section>
      <h2>{{ 'betaalmethode' | translate }}</h2>
      <form (ngSubmit)="payPayment()">
        <div>
          <label>
            <input type="radio" name="chosenPaymentMethod" value="creditcard" [(ngModel)]="chosenPaymentMethod" required>
            Visa
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="chosenPaymentMethod" value="ideal" [(ngModel)]="chosenPaymentMethod" required>
            iDEAL
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="chosenPaymentMethod" value="paypal" [(ngModel)]="chosenPaymentMethod" required>
            PayPal
          </label>
        </div>
        <div>
          <label>
            <input type="radio" name="chosenPaymentMethod" value="mastercard" [(ngModel)]="chosenPaymentMethod" required>
            Mastercard
          </label>
        </div>
        <button type="submit">{{ 'order.pay' | translate }}</button>
        <button type="button" (click)="cancelPayment()">{{ 'order.cancel' | translate }}</button>
      </form>
    </section>

    <section id="error">
      @if (!paymentMethodChosen && !chosenPaymentMethod){
        <p>{{ 'order.payment.error' | translate }}</p>
      }
    </section>
  </article>
</main>
