@if (isPayed === true) {
  {{createOrder()}}
}

<main class="cart">
  <h1>{{ 'order.cart.title' | translate }}</h1>
  <article>
    <section>
      <ul>
        @for(product of getOrderList(); track product){
          <li>
            <img src="{{product.image}}">
            <div>
              <p>{{ 'order.title.label' | translate }} {{ product.name }} </p>
              <p>{{ 'order.price.label' | translate }} €{{ product.price }}</p>
              <p>{{ 'order.amount.label' | translate }} {{ product.amount }}</p>
            </div>
          </li>
        }
      </ul>
    </section>

    <section>
      <p id="totalPrice">{{ 'order.total.price' | translate }} €{{getTotalPrice()}}</p>
      <button (click)="clearOrderList()">{{ 'order.cart.empty' | translate }}</button>
      <button (click)="paymentPage()" [disabled]="ProductOrderList.length === 0">{{ 'order.cart.order' | translate }}</button>
    </section>
  </article>
</main>

