@if (isPayed === true) {
  {{createOrder()}}
}

<main class="cart">
  <h1>{{ 'winkelmand' | translate }}</h1>
  <article>
    <section>
      <ul>
        @for(product of getOrderList(); track product){
          <li>
            <img src="{{product.image}}">
            <div>
              <p>{{ 'titel' | translate }} {{ product.name }} </p>
              <p>{{ 'prijs.per.stuk' | translate }} €{{ product.price }}</p>
              <p>{{ 'hoeveelheid' | translate }} {{ product.amount }}</p>
            </div>
          </li>
        }
      </ul>
    </section>

    <section>
      <p id="totalPrice">{{ 'totale.prijs' | translate }} €{{getTotalPrice()}}</p>
      <button (click)="clearOrderList()">{{ 'leeg.winkelmand' | translate }}</button>
      <button (click)="paymentPage()" [disabled]="ProductOrderList.length === 0">{{ 'bestel' | translate }}</button>
    </section>
  </article>
</main>

