@if (ispayed === true) {
  {{createOrder()}}
}

<main class="winkelmand">
  <h1>{{ 'winkelmand' | translate }}</h1>
  <article>
    <section>
      <ul>
        <li *ngFor="let boek of getOrderList()">
          <img src="{{boek.image}}">
          <div>
            <p>{{ 'titel' | translate }} {{ boek.name }} </p>
            <p>{{ 'prijs.per.stuk' | translate }} €{{ boek.price }}</p>
            <p>{{ 'hoeveelheid' | translate }} {{ boek.amount }}</p>
          </div>
        </li>
      </ul>
    </section>

    <section>
      <p id="totaleprijs">{{ 'totale.prijs' | translate }} €{{getTotalPrice()}}</p>
      <button (click)="clearOrderList()">{{ 'leeg.winkelmand' | translate }}</button>
      <button (click)="paymentPage()" [disabled]="ProductOrderList.length === 0">{{ 'bestel' | translate }}</button>
    </section>
  </article>
</main>

