<main>
  <h1>{{ 'inloggen.titel' | translate }}</h1>

  <section>
    <form (ngSubmit)="login()">
      <div>
        <label>
          Email:
        </label>
        <input type="text" name="email" [(ngModel)]="email">
      </div>

      <div>
        <label>
          {{ 'auth.login.password' | translate }}
        </label>
        <input type="password" name="password" [(ngModel)]="password">
      </div>

      <button type="submit">{{ 'auth.login.text' | translate }}</button>
    </form>
    <div id="register">
      <p>{{ 'auth.login.to.register' | translate }}</p>
      <button [routerLink]="'/register'">{{ 'auth.register.text' | translate }}</button>
    </div>

  </section>

  <section id="error">
    @if (errorType === null){
    } @else if (errorType === 401) {
      <h2>{{ 'order.error' | translate }}</h2>
    } @else {
      <h2>{{ 'auth.login.error' | translate }}</h2>
    }
  </section>
</main>


