<main>
  <h1>{{ 'auth.register.text' | translate }}</h1>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <section>
      <label for="userName">{{ 'auth.register.form.username' | translate }}</label>
      <input type="text" formControlName="userName" id="userName">
      @if (registerForm.get('userName')?.touched && registerForm.get('userName')?.invalid){
        <span>{{ 'auth.register.form.control.required' | translate }}</span>
      }
    </section>

    <section>
      <label for="email">Email:</label>
      <input type="email" formControlName="email" id="email">
      @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid){
        @if (registerForm.get('email')?.errors?.['required']){
          <span>{{ 'auth.register.form.control.required' | translate }}</span>
        } @else if (registerForm.get('email')?.errors?.['email']){
          <span>{{ 'auth.register.form.control.invalid.email' | translate }}</span>
        }
      }
    </section>

    <section>
      <label for="password">{{ 'auth.register.form.password' | translate }}</label>
      <input type="password" formControlName="password" id="password">
      @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid){
        @if(registerForm.get('password')?.errors?.['required']){
          <span>{{ 'auth.register.form.control.required' | translate }}</span>
        } @else if (registerForm.get('password')?.errors?.['minlength']) {
          <span>{{ 'auth.register.form.control.length.password' | translate }}</span>
        } @else if (registerForm.get('password')?.errors?.['pattern']){
          <span>{{ 'auth.register.form.control.invalid.password' | translate }}</span>
        }
      }
    </section>

    <section>
      <label for="city">{{ 'auth.register.form.city' | translate }}</label>
      <input type="text" formControlName="city" id="city">
      @if (registerForm.get('city')?.touched && registerForm.get('city')?.invalid){
        <span>{{ 'auth.register.form.control.required' | translate }}</span>
      }
    </section>

    <section>
      <label for="postalCode">{{ 'auth.register.form.postal.code' | translate }}</label>
      <input type="text" formControlName="postalCode" id="postalCode">
      @if (registerForm.get('postalCode')?.touched && registerForm.get('postalCode')?.invalid){
        <span>{{ 'auth.register.form.control.required' | translate }}</span>
      }
    </section>

    <section>
      <label for="streetName">{{ 'auth.register.form.street' | translate }}</label>
      <input type="text" formControlName="streetName" id="streetName">
      @if (registerForm.get('streetName')?.touched && registerForm.get('streetName')?.invalid){
        <span>{{ 'auth.register.form.control.required' | translate }}</span>
      }
    </section>

    <section>
      <label for="houseNumber">{{ 'auth.register.form.house.number' | translate }}</label>
      <input type="text" formControlName="houseNumber" id="houseNumber">
      @if (registerForm.get('houseNumber')?.touched && registerForm.get('houseNumber')?.invalid){
        <span>{{ 'auth.register.form.control.required' | translate }}</span>
      }
    </section>

    <button type="submit" [disabled]="registerForm.invalid">{{ 'auth.register.text' | translate }}</button>

    <section id="error-register">
      @if (this.error === null){
      } @else {
        <p>{{ 'auth.registreren.error' | translate }}</p>
      }
    </section>
  </form>


</main>
