<main>
  <h1>{{ 'registeren.titel' | translate }}</h1>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <section>
      <label for="userName">{{ 'gebruikersnaam' | translate }}</label>
      <input type="text" formControlName="userName" id="userName">
      @if (registerForm.get('userName')?.touched && registerForm.get('userName')?.invalid){
        <span>{{ 'moet.je.invullen' | translate }}</span>
      }
    </section>

    <section>
      <label for="email">Email:</label>
      <input type="email" formControlName="email" id="email">
      @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid){
        @if (registerForm.get('email')?.errors?.['required']){
          <span>{{ 'moet.je.invullen' | translate }}</span>
        } @else if (registerForm.get('email')?.errors?.['email']){
          <span>{{ 'ongeldig.emailadres' | translate }}</span>
        }
      }
    </section>

    <section>
      <label for="password">{{ 'password' | translate }}</label>
      <input type="password" formControlName="password" id="password">
      @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid){
        @if(registerForm.get('password')?.errors?.['required']){
          <span>{{ 'moet.je.invullen' | translate }}</span>
        } @else if (registerForm.get('password')?.errors?.['minlength']) {
          <span>{{ 'minimum.lengte' | translate }}</span>
        } @else if (registerForm.get('password')?.errors?.['pattern']){
          <span>{{ 'password.requirements' | translate }}</span>
        }
      }
    </section>

    <section>
      <label for="city">{{ 'city' | translate }}</label>
      <input type="text" formControlName="city" id="city">
      @if (registerForm.get('city')?.touched && registerForm.get('city')?.invalid){
        <span>{{ 'moet.je.invullen' | translate }}</span>
      }
    </section>

    <section>
      <label for="postalCode">{{ 'postalCode' | translate }}</label>
      <input type="text" formControlName="postalCode" id="postalCode">
      @if (registerForm.get('postalCode')?.touched && registerForm.get('postalCode')?.invalid){
        <span>{{ 'moet.je.invullen' | translate }}</span>
      }
    </section>

    <section>
      <label for="streetName">{{ 'straatnaam' | translate }}</label>
      <input type="text" formControlName="streetName" id="streetName">
      @if (registerForm.get('streetName')?.touched && registerForm.get('streetName')?.invalid){
        <span>{{ 'moet.je.invullen' | translate }}</span>
      }
    </section>

    <section>
      <label for="houseNumber">{{ 'houseNumber' | translate }}</label>
      <input type="text" formControlName="houseNumber" id="houseNumber">
      @if (registerForm.get('houseNumber')?.touched && registerForm.get('houseNumber')?.invalid){
        <span>{{ 'moet.je.invullen' | translate }}</span>
      }
    </section>

    <button type="submit" [disabled]="registerForm.invalid">{{ 'registreren' | translate }}</button>

    <section id="error-register">
      @if (this.error === null){
      } @else {
        <p>{{ 'registreren.error' | translate }}</p>
      }
    </section>
  </form>


</main>
