@if (isAddingItem) {
  <app-add-cart [product]="product" (cancel)="onCancelAddItem()"/>
}

<article [routerLink]="['/product/'+ getProductID()]">
  <a class="product-image">
    <img src="{{product.image}}" alt="{{ 'product.list.item.image.of' | translate }} {{product.name}}">
  </a>

  <a class="product-info">
    <h2 class="product-title">{{ product.name }}</h2>
    <p class="product-author">{{ product.writer.name}} {{ product.writer.middleName }} {{ product.writer.surname }}</p>
    <p class="product-price">€{{ product.price }}</p>
    <a class="buy-button" (click)="onStartAddItem($event)">{{ 'add.cart.title' | translate }}</a>
  </a>
</article>

