<main>
  <h1>{{ 'alle.boeken' | translate }}</h1>
  <button id="filter" [routerLink]="['/difficulty']">{{ 'terug.naar.filter' | translate }}</button>
  <ul>
    @for (product of paginatedProducts ; track product.productID){
      <app-product-difficulty-item [product]="product" />
    }
  </ul>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">{{ 'vorige' | translate }}</button>
    <span>{{ 'pagina' | translate }} {{ currentPage }} {{ 'van' | translate }} {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">{{ 'volgende' | translate }}</button>
  </div>

</main>
