@if (isAddingItem) {
  <app-add-winkelmand [product]="product" (cancel)="onCancelAddItem()"/>
}

<article [routerLink]="['/product/'+ getProductID()]">
  <a class="product-image">
    <img src="{{product.image}}" alt="{{ 'afbeelding.van' | translate }} {{product.name}}">
  </a>

  <a class="product-info">
    <h2 class="product-title">{{ product.name }}</h2>
    <p class="product-author">{{ product.writer.name}} {{ product.writer.middleName }} {{ product.writer.surName }}</p>
    <p class="product-price">€{{ product.price }}</p>
    <a class="btn-buy" (click)="onStartAddItem($event)">{{ 'winkelwagen.toevoegen' | translate }}</a>
  </a>
</article>

