<main>
  <section>
    <h1>{{ 'gebruikerspagina' | translate }}</h1>
    <p>{{ 'welkom' | translate }} {{userData?.userName}}</p>
  </section>
  <section>
    <button (click)="logOut()">{{ 'uitloggen' | translate }}</button>
  </section>
  <section>
    <h3>{{ 'bestellingen' | translate }}</h3>
    <ul class="orderlist">
      @for(order of paginatedOrders; track order){
        <li class = "orders">
          <div class="orderdetails">
            <p><b>{{ 'bestelnummer' | translate }} {{ order.orderID }}</b></p>
            <p>{{ 'datum' | translate }} {{ order.orderDate | date:'dd-MM-yyyy' }}</p>
            <p>{{ 'totale.prijs' | translate }} €{{calculateTotalPrice(order)}}</p>
            <p> {{ 'bestelde.boeken' | translate }}:</p>
          </div>

          <ul class="orderitem">
            @for(product of order.orderItemList; track product){
              <li class = "product">
                <img src="{{product.product.image}}" alt="{{ 'afbeelding.van' | translate }} {{product.product.name}}">
                {{ 'titel' | translate }} {{ product.product.name }}, {{ 'hoeveelheid' | translate }} {{ product.amount }}
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </section>
  <section class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">{{ 'vorige' | translate }}</button>
    <span>{{ 'pagina' | translate }} {{ currentPage }} {{ 'van' | translate }} {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages">{{ 'volgende' | translate }}</button>
  </section>
</main>


