@if (isAddingItem) {
  <app-add-cart [product]="product" (cancel)="onCancelAddItem()"/>
}

<article class="product-card" [routerLink]="['/product/'+ getProductID()]">

  <a class="product-image">
    <img src="{{product.image}}" alt="{{ 'afbeelding.van' | translate }} {{product.name}}">
  </a>

  <a class="product-info">
    <h3 class="product-title">{{ product.name }}</h3>
    <p class="product-author">{{ product.writer.name }} {{ product.writer.middleName }} {{ product.writer.surname }}</p>
    <p class="product-author">{{ 'soort.' + product.type | translate }}</p>
    <p class="product-price">€{{ product.price }}</p>
    <a class="btn-buy" (click)="onStartAddItem($event)">{{ 'winkelwagen.toevoegen' | translate }}</a>
  </a>
</article>
