<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <form (ngSubmit)="onSubmit($event)">
    <section>
      <h2>{{ 'add.cart.title' | translate }}</h2>
      <p>
        {{ 'add.cart.add.part.1' | translate }}{{product.name}}{{ 'add.cart.add.part.2' | translate }}
      </p>
    </section>
    <section class="change_amount">
      <button type="button" class="addMinusButton" (click)="onMinus()">
        -
      </button>
      <p>{{ amountItem }}</p>
      <button type="button" class="addMinusButton" (click)="onAdd()">
        +
      </button>
    </section>
    <section class="actions">
      <button type="button" (click)="onCancel()">{{ 'add.cart.cancel' | translate }}</button>
      <button type="submit">{{ 'add.cart.add' | translate }}</button>
    </section>
  </form>
</dialog>
