<footer class="footer">
  <section class="info">
    <p id="name">Renzo Steller</p>
    <p>{{ 'studentnummer' | translate }} s1154399</p>
    <p>{{ 'mijn.email' | translate }}</p>
  </section>
  <section class="partners">
    <h3 class="partners-title">{{ 'onze.partners' | translate }}</h3>
    <ul class="logos">
      <li>
        <img src="/images/ideal.png" alt="Partner ideal" class="logo">
        <img src="/images/mastercard.png" alt="Partner mastercard" class="logo">
        <img src="/images/visa.png" alt="Partner visa" class="logo">
      </li>

    </ul>
  </section>
</footer>
